<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<!--================================================================================================================================================================================================================-->
<link  rel="stylesheet" th:href="@{css/forma.css}">
<!--================================================================================================================================================================================================================-->	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--================================================================================================================================================================================================================-->
 
	
<title>Regisztráció</title>
    
  
<style>

.btn {
	background-color: #560000;
	border-color: white;
	color: white;
}

.btn:hover {
	background-color: #b09696;
}

.btn:active:focus {
	background-color: #826565;
}

.btn:focus {
	background-color: #826565;
}


#f {
	position: relative;
	bottom: -25px;
}

</style>
  </head>

  <body class="session-authentication pt-7 pb-5">

<div class="auth-form" id="f">

   
        <h1 style="color:#262626;font-size:30px" align="center">Regisztráció</h1>

      <div class="auth-form-body mt-4">
		<form  th:action="@{/reg}" th:object="${user}" method="post" class=" login100-form validate-form">
			<label>Felhasználónév</label>
        <input type="text" class="form-control" placeholder="Név"  th:field="*{fullName}" required><br>
		<div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="alert alert-danger" role="alert"></div>
		<label>Email</label>
			<input type="email" class="form-control" placeholder="E-mail cím"  th:field="*{email}" required><br>
			  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert"></div>
			  
			<label>Jelszó</label>
			<input id="pass1" type="password" class="form-control" placeholder="Jelszó" th:field="*{password}" required><br>
			
		   <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert"></div>
		   
		    <label>Jelszó mégegyszer</label>
			<input id="pass2" type="password" class="form-control" placeholder="Jelszó"  th:field="*{passwordConf}" required><br>
		
			<div th:if="${#fields.hasErrors('passwordConf')}" th:errors="*{passwordConf}" class="alert alert-danger" role="alert"></div>
			

			
			
			
        <button type="submit"  tabindex="3" class="btn btn-block"  data-toggle="modal" data-target="#staticBackdrop" >Regisztrálás </button>
        </form>
      </div>




      <p class="create-account-callout mt-3">

			<a href="/login"  >Bejelentkezés</a><br>
       </p>
</div>





</body>

<!--================================================================================================================================================================================================================-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--================================================================================================================================================================================================================-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!--================================================================================================================================================================================================================-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!--================================================================================================================================================================================================================-->

</html>